.mainPage {
    display: none;
}

.profilePage {
    display: none;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: 60vh;
    overflow-x: hidden;
}